nav {
  min-height: 60px;
  background: #80babe;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  min-width: 40%;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
